setuptools==58.2.0 # needed for pyspf to build wheel
wheel # just in case
python-dateutil
vobject
requests
requests-oauthlib
py3DNS
dnspython
dkimpy
pyspf
numpy==1.26.4 # OpenBLAS issues with Python > 3.11 or something
scipy==1.13.1 # required by gensim
numba==0.61.0 # required by numpy 1.24.4
gensim==4.3.3 # explicitely fail to build wheels for Python > 3.12
nltk
scikit-learn
beautifulsoup4
pandas
rank-bm25
regex
pyspellchecker
PyPDF
pycryptodome
pdf2image
pillow==10.4.0
opencv-python
pytesseract
mkdocs
mkdocs-material
mkdocs-autorefs
mkdocstrings
mkdocstrings-python
markdown-callouts
black
griffe
levenshtein
lz4
psutil
guppy3
html5lib
jsonschema
aiohttp
selenium
webdriver_manager
