setuptools==58.2.0 # needed for pyspf to build wheel
wheel # just in case

# Common utils
regex
psutil
guppy3
lz4
python-dateutil

# Network
requests
requests-oauthlib
curl_cffi

# High-perf linear algebra and machine learning
numba==0.61.0
numpy>=2.0,<=2.1 # needed for numba 0.61
cython # needed for Gensim fast version
scipy
gensim==4.4
scikit-learn
rank-bm25
levenshtein

# NLP stack
nltk
fast-langdetect
blingfire
langcodes
language_data
pycountry

# PDF I/O and OCR
opencv-python-headless
PyMuPDF
pycryptodome
pdf2image
pillow==10.4.0
pytesseract

# Text parsing (HTML, XML, JSON)
beautifulsoup4
html5lib
jsonschema
markdown
