python-dateutil
vobject
requests
requests-oauthlib
py3DNS
dnspython
dkimpy
pyspf
nltk
scikit-learn
gensim
beautifulsoup4
pandas
rank-bm25
regex
pyspellchecker
PyPDF
pycryptodome
pdf2image
Pillow
opencv-python
pytesseract
mkdocs
mkdocs-material
mkdocs-autorefs
mkdocstrings
mkdocstrings-python
markdown-callouts
black
griffe
levenshtein
scipy
numba
