[Desktop Entry]
Type=Application
Name=VirtualSecretary
Exec=virtualsecretary
Comment=A Python {{ python-fullversion }} runtime with {{ requirements }}
Icon=virtualsecretary
Categories=Office;
Terminal=true
