# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Test config
config*/
workspace.code-workspace
src/user_scripts/*.py
models/*
data/*
src/web/app.py
src/web/static/bootstrap-grid.css
src/web/static/bootstrap-grid.css.map
src/web/static/bootstrap-grid.min.css
src/web/static/bootstrap-grid.min.css.map
src/web/static/bootstrap-grid.rtl.css
src/web/static/bootstrap-grid.rtl.css.map
src/web/static/bootstrap-grid.rtl.min.css
src/web/static/bootstrap-grid.rtl.min.css.map
src/web/static/bootstrap-reboot.css
src/web/static/bootstrap-reboot.css.map
src/web/static/bootstrap-reboot.min.css
src/web/static/bootstrap-reboot.min.css.map
src/web/static/bootstrap-reboot.rtl.css
src/web/static/bootstrap-reboot.rtl.css.map
src/web/static/bootstrap-reboot.rtl.min.css
src/web/static/bootstrap-reboot.rtl.min.css.map
src/web/static/bootstrap-utilities.css
src/web/static/bootstrap-utilities.css.map
src/web/static/bootstrap-utilities.min.css
src/web/static/bootstrap-utilities.min.css.map
src/web/static/bootstrap-utilities.rtl.css
src/web/static/bootstrap-utilities.rtl.css.map
src/web/static/bootstrap-utilities.rtl.min.css
src/web/static/bootstrap-utilities.rtl.min.css.map
src/web/static/bootstrap.bundle.js
src/web/static/bootstrap.bundle.js.map
src/web/static/bootstrap.bundle.min.js
src/web/static/bootstrap.bundle.min.js.map
src/web/static/bootstrap.css
src/web/static/bootstrap.css.map
src/web/static/bootstrap.esm.js
src/web/static/bootstrap.esm.js.map
src/web/static/bootstrap.esm.min.js
src/web/static/bootstrap.esm.min.js.map
src/web/static/bootstrap.js
src/web/static/bootstrap.js.map
src/web/static/bootstrap.min.css
src/web/static/bootstrap.min.css.map
src/web/static/bootstrap.min.js
src/web/static/bootstrap.min.js.map
src/web/static/bootstrap.rtl.css
src/web/static/bootstrap.rtl.css.map
src/web/static/bootstrap.rtl.min.css
src/web/static/bootstrap.rtl.min.css.map
src/web/static/chantal.svg
src/web/static/favicon.png
src/web/templates/base.html
src/web/templates/index.html
